<!-- Add credentials Page -->
<!DOCTYPE html>
<html lang="en" th:replace="~{index :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Add Credential</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.0/dist/cdn.min.js"></script>
</head>

<body>


    <div id="content" class="p-4 flex flex-col items-center justify-center" x-data="{show: false, password: '',}">
        <div
            class="w-full max-w-md p-8 space-y-3 rounded-xl bg-white shadow dark:border dark:border-gray-700 text-gray-800 dark:bg-gray-800 dark:text-white">

            <!-- message here -->
            <div data-th-replace="message::messagebox"></div>

            <h1 class=" leading-tight tracking-tight text-gray-900  dark:text-white text-2xl font-bold text-center">Add
                
            </h1>

            <div class="text-red-600 text-center my-3" th:if="${param.error}">
                Invalid username or password
            </div>
            <div class="text-green-600 text-center my-3" th:if="${param.logout}">
                You have been logged out
            </div>

            <form action="/login" method="post" class="space-y-6">
                <!-- Appname or Website name -->
                <div class="space-y-1 text-sm">
                    <label for="userhandle" class="block text-gray-900 dark:text-white">App or Website</label>
                    <input type="text" id="website-admin"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="safelock.in" required="">
                </div>
                <!-- Username  -->
                <div class="space-y-1 text-sm">
                    <label for="userhandle" class="block text-gray-900 dark:text-white">Username</label>
                    <input type="text" id="website-admin"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="safelockofficial">
                </div>
                <!-- Email -->
                <div class="space-y-1 text-sm">
                    <label for="email" class="block text-gray-900  dark:text-white">Email</label>
                    <input type="email" name="email" id="email" placeholder="safelock.in@gmail.com"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required="">
                </div>
                <!-- Password  -->

                <div class="space-y-1 text-sm relative">
                    <label for="password" class="block text-gray-900  dark:text-white">Password</label>
                    <input :type="show ? 'text' : 'password' " x-model="password" name="password" id="password"
                        placeholder="••••••••"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                    <button @click.prevent="show = !show"
                        class="absolute inline-block right-2 top-1/2 transform -translate-y-1">

                        <!-- SVGs here -->
                        <svg x-show="!show" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="green" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                        </svg>
                        <svg x-show="show" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="red" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    </button>
                </div>
                <!-- Notes -->
                <div class="space-y-1 text-sm">
                <label for="message" class="block text-gray-900 dark:text-white">Notes</label>
                <textarea id="message" rows="2"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write your notes here..."></textarea>
                </div>
                <button
                    class="block w-full p-3 text-center rounded-sm text-gray-900  dark:text-white font-bold dark:bg-lime-600">Save
                </button>
            </form>



        </div>



    </div>


    <script>
        console.log("add credential page");
    </script>
</body>

</html>