<!-- Add credentials Page -->
<!DOCTYPE html>
<html lang="en" th:replace="~{index :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Add Credential</title>
</head>

<body>
    <div id="content">

        <!-- user is logged in : sidebar -->

        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>
        <h1>Welcome to add credential page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
            ratione!
        </p>
    </div>
    <script>
        console.log("add credential page");
    </script>
</body>

</html>