<!-- Profile Page -->
<!DOCTYPE html>
<html lang="en" th:replace="~{index :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Profile</title>
</head>

<body>
    <div id="content">

        <!-- user is logged in : sidebar -->

        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>
        
        <div class="p-4 sm:ml-64">
        <div x-data="{ isOpen: true }" class="relative flex justify-center mt-20">
            
        
            <div x-show="isOpen"
                x-transition:enter="transition duration-300 ease-out"
                x-transition:enter-start="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="translate-y-0 opacity-100 sm:scale-100"
                x-transition:leave="transition duration-150 ease-in"
                x-transition:leave-start="translate-y-0 opacity-100 sm:scale-100"
                x-transition:leave-end="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
                class="fixed inset-0 z-10 overflow-y-auto" 
                style="top:10%"
                aria-labelledby="modal-title" role="dialog" aria-modal="true"
            >
                <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            
                    <div class="relative inline-block p-4 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl sm:max-w-sm rounded-xl dark:bg-gray-900 sm:my-8 sm:w-full sm:p-6">
                        <div class="flex items-center justify-center mx-auto">
                            <img class="h-full rounded-lg" data-th-src="@{*{profilePic}}" />
                        </div>
        
                        <div class="mt-5 text-center">
                            <h3 class="text-lg font-medium text-gray-800 dark:text-white" id="modal-title">
                                User Profile
                            </h3>
        
                            
                        </div>
        
                        <div class="flex items-center justify-between w-full mt-5 gap-x-2">
                            <!-- User info Table -->
                            <table data-th-if="${!#lists.isEmpty(cred)}"
                                class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <!-- <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                  <tr>
                                    <th scope="col" class="px-6 py-3">App or Website</th>
                                    <th scope="col" class="px-6 py-3">Username</th>
                                    <th scope="col" class="px-6 py-3">Email</th>
                                    <th scope="col" class="px-6 py-3">Password</th>
                                    <th scope="col" class="px-6 py-3">Notes</th>
                                    <th scope="col" class="px-6 py-3">Action</th>
                                  </tr>
                                </thead> -->
                                <tbody>
                                  <tr data-th-object="${c}" th:each="c : ${cred}"
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <!-- ID -->
                                    <th scope="col" class="px-6 py-3">ID</th>
                                    <td class="px-6 py-4">
                                      <span data-th-text="*{id}"></span>
                                    </td>
                  
                                    <!-- Username -->
                                    <th scope="col" class="px-6 py-3">Username</th>
                                    <td class="px-6 py-4">
                                      <span data-th-text="*{name}"></span>
                                    </td>
                                    
                                    <!-- Email -->
                                    <th scope="col" class="px-6 py-3">Email</th>
                                    <td class="px-6 py-4">
                                      <span data-th-text="*{email}"></span>
                                    </td>
                                    
                                    <!-- Email Verified-->
                                    <th scope="col" class="px-6 py-3">Email Verified</th>
                                    <td class="px-6 py-4">
                                      <span data-th-text="*{isEmailVerified}"></span>
                                    </td>
                                    
                                    <!-- Phone-->
                                    <th scope="col" class="px-6 py-3">Phone No</th>
                                    <td class="px-6 py-4">
                                      <span data-th-text="*{phoneNo}"></span>
                                    </td>
                                    
                                    <!-- Provider-->
                                    <th scope="col" class="px-6 py-3">Provider</th>
                                    <td class="px-6 py-4">
                                      <span data-th-text="*{provider}"></span>
                                    </td>

                                    <!-- Active-->
                                    <th scope="col" class="px-6 py-3">Enabled</th>
                                    <td class="px-6 py-4">
                                      <span data-th-text="*{isEnabled}"></span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
        
                        <div class="mt-4 sm:flex sm:items-center sm:justify-between sm:mt-6 sm:-mx-2">
                            
        
                            <button class="px-4 sm:mx-2 w-full py-2.5 mt-3 sm:mt-0 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        console.log("Profile page");
    </script>
</body>

</html>