<!-- Generator Page -->
<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{index :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Generator</title>
  </head>
  <body>
    
        <div id="content" class="p-4 flex flex-col items-center justify-center">
            <div class="w-full max-w-md p-8 space-y-3 rounded-xl bg-white shadow dark:border dark:border-gray-700 text-gray-800 dark:bg-gray-800 dark:text-white">
              <h1 class=" leading-tight tracking-tight text-gray-900  dark:text-white text-2xl font-bold text-center">Password Generator</h1>
              <form  action="/generator" method="get" class="space-y-6">
                <div class="space-y-1 text-sm ">
                  <label for="range" class="block text-gray-900  dark:text-white">Length</label>
                  <input type="range" min="8" max="25" value="8" class="w-full range range-accent" oninput="updateLength(this.value)" />
                    <div class="flex justify-between">
                  <span id="minLength">8</span>
                  <!-- <span id="maxPrice">25</span> -->
                </div>
                </div>
                <div class="space-y-1 text-sm">
                  <label for="password" class="block text-gray-900  dark:text-white">Password</label>
                  <input type="text" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                  
                </div>
                <button class="block w-full p-3 text-center rounded-sm text-gray-900  dark:text-white font-bold dark:bg-lime-600">Click to Generate</button>
              </form>
              
 
        </div>
    </div>
    <script>
        console.log("Generator page");
        function updateLength(value) {
    document.getElementById("minLength").textContent =  value;
  }
      </script>
  </body>
</html>